.login_content {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
}

.form-box {
    padding: 30px;
    background-color: #fff;
    border-radius: 3px;
    margin-bottom: 30px;
    h2 {
        font-size: 18px;
        font-weight: 400;
        margin: 0 0 24px;
        padding: 0;
    }
}
.fx {
    height: 1.2em;
    margin-right: .25em;
    width: 1.2em;
}
.createAccountWrap {
    .register-btn {
            position: relative;
            width: 100%;
            background-color: transparent;
            border: 2px solid $primary-color;
            padding: 16px 18px;
            color: $primary-color;
            font-size: 14px;
            font-weight: 600;
            overflow: hidden;
            text-align: center;
            vertical-align: middle;
            outline: none;
            border-radius: 4px;
    }
}
.signInWrap {
    border: 1px solid #eee;
    .signInform {
        input[type=email] , input[type=password] {
            display: block;
            height: 48px;
            width: 100%;
            box-sizing: border-box;
            color: #000;
            border-color: rgb(14 14 14 / 28%);
            border-style: solid;
            border-width: 1px;
            box-shadow: 0 1px 4px 0 rgb(34 34 34 / 10%) inset;
            border-radius: 8px;
            padding: 0 16px 0 16px;
            }
            .form-control:focus {
                box-shadow:none;
                border-color: #222222;
            }
            .signIn-btn{
                width: 100%;
                background-color: $primary-color;
                border-color: $primary-color;
                position: relative;
                padding: 16px 18px;
                color: #fff;
                font-size: 14px;
                font-weight: 600;
                overflow: hidden;
                text-align: center;
                vertical-align: middle;
                outline: none;
                border-radius: 4px;
                box-shadow: 0px 4px 8px rgb(206 107 36 / 33%);
                z-index: 2;
                transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    width: 0;
                    height: 100%;
                    transition: .25s;
                }
            }
            .signIn-btn:hover:before{
                width: 100%;
                background-color: #000 !important;
            }
            .signIn-btn:hover{
                color: #fff!important;
            }

            .forgot-pw-link {
                color: $primary-color;
                font-size: 13px;
            }
    }
}